.product-list-item {
    display: flex;
    align-items: center;
    padding: 20px;
    color: #ffffff;
    margin-top: 10px;
}

.product-list-item__info {
    flex: 1;
}

.product-list-item__title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.product-list-item__description {
    margin: 5px 0;
}

.product-list-item__price {
    font-weight: bold;
}

.product-list-item__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-list-item__button {
    margin-top: 10px;
}
