.info-box {
    color: #fff;
    padding: 20px;
    margin: 130px auto 60px auto;
    width: 75%;
}

.info-box__title {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.info-box__description {
    font-size: 0.8rem;
}
