.input {
    display: flex;
    flex-direction: column;
}

.input label {
    margin-bottom: 5px;
}

.input input {
    appearance: none;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    width: 60px;
    font-size: 1rem;
    color: #333;
    outline: none;
}

.input input:focus {
    outline: 2px solid #b6cc76;
}
